.iuuwo { 
  border-left-width: 90px;
  line-height: 60px;
  margin-top: 24px;
  border-right-width: 13px;
  border-left-width: 72px;
  border-bottom-width: 26px;
  border-right-width: 76px;
  line-height: 48px;
  padding-right: 96px;
  border-bottom-width: 64px;
  margin-bottom: 52px;
  border-top-width: 61px;
  padding-left: 21px;
  line-height: 67px;
  padding-top: 79px;
  font-size: 83px;
  margin-top: 30px;
  margin-top: 75px;
  margin-left: 28px;
  border-top-width: 50px;
  padding-top: 5px;
  padding-bottom: 13px;
  border-top-width: 94px;
  border-bottom-width: 97px;
  margin-left: 29px;
  border-top-width: 22px;
  margin-top: 82px;
  margin-bottom: 35px;
}
